@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f5f8fa;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

.myaccount_container {
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
}

.myaccount_contract_title {
  font-size: 20px;
  font-weight: bold;
}

.myaccount_button-deploy {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.myaccount_contract-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.myaccount_contract-item {
  width: 33.33%;
  padding: 10px;
}

.myaccount_contract-item-container {
  border-radius: 10px;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  box-shadow: 0 .1rem 1rem .25rem rgba(0, 0, 0, .05) !important;
}


.claim_container {
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
}

.claim_wrap {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.claim_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 .1rem 1rem .25rem rgba(0,0,0,.05)!important;
}

.claim_condition {
  width: 100%;
  text-align: center;
  margin: 10px;
}

.claim_info {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 0 20px;
}

.claim_info_title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}